.hero {
    width: 100%;
    height: Min(100vh, 863px);
    position: relative;
    max-width: 1440px;
    margin: 0 auto;
    background: $bg;
    aspect-ratio: 16/9;
    &__lines {
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: relative;
        pointer-events: none;
        & > * {
            background: #000;
            opacity: .2;
            position: absolute;
            z-index: 2;
        };
        &__one {
            width: calc(100% - 240px);
            margin-left: 120px;
            height: 1px;
            top: 100px;
            @include respond(tab-port) {
                width: calc(100% - 48px);
                margin-left: 24px;
                top: 50px;
            }
        }
        &__two{
            width: 1px;
            height: 200%;
            margin-top: -50%;
            left: 120px;
            @include respond(tab-port) {
                left: 24px;
            }
        }
        &__three{
            width: 200%;
            margin-left: -50%;
            height: 1px;
            top: 50%;
            @include respond(tab-port) {
                top: calc(30% + 50px);
            }

        }
        &__four{
            width: 1px;
            height: 200%;
            margin-top: -50%;
            right: 120px;
            @include respond(tab-port) {
                right: 24px;
            }
        }
        &__five{
            width: 200%;
            margin-left: -50%;
            height: 1px;
            top: 70%;
            @include respond(tab-port) {
                top: calc(50% + 50px);
            }
        }
        &__six{
            width: 1px;
            height: 200%;
            margin-top: -50%;
            left: 400px;
            @include respond(tab-port) {
                left: 50%;
            }
        }
    }
    &__container {
        width: 100%;
        height: 100%;

        // TODO: 4k mixin
        max-width: 1440px;
        margin: 0 auto;
        margin-top: Max(-100vh, -863px);
        &.container {
            @include respond(tab-port) {
                padding: 0;
            }
        }
        &__nav {
            height: 100px;
            width: 100%;
            display: flex;
            //justify-content: space-between;
            align-items: flex-end;
            line-height: 20px;
            @include respond(tab-port) {
                height: 50px;
                padding: 8px 24px;
                justify-content: space-between;
                position: fixed;
                background: $bg;
                z-index: 9;
            }
             a {
                width: 280px;
                text-decoration: none;
                text-transform: none;
                color: #000;
                font-size: 30px;
                &:hover {
                    color: rgba($color: #000000, $alpha: .8);
                }
                @include respond(tab-port) {
                    width: auto;
                    font-size: 18px;
                }
             }
             p {
                font-family: 'Bebas Neue', sans-serif;
                font-size: 35px;
                cursor: pointer;
                &:hover {
                    color: rgba($color: #000000, $alpha: .8);
                }
                @include respond(tab-port) {
                    font-size: 24px;
                }
             }
        }
        &__grid {
            height: 100%;
            width: 100%;
            display: grid;
            grid-template-columns: 280px auto;
            grid-template-rows: calc(50% - 100px) 20% 30%;
            grid-template-areas: 'top-left top-right'
                                 'mid-left mid-right'
                                 'bottom-left bottom-right';
            
            @include respond(tab-port) {
                grid-template-areas: 'top-right top-right'
                                     'mid-right mid-right'
                                     'top-left mid-left'
                                     'bottom-right bottom-right';
                grid-template-columns: 1fr 1fr;
                grid-template-rows: calc(30% + 50px) 20% 20% 30%;
            }
            & > * {
                @include respond(tab-port) {
                    position: relative;
                }
            }
            &__top-right , &__mid-left ,&__bottom-right {
                overflow: hidden;
                width: 100%;
                grid-area: top-right;
                position: sticky;
                top: 50px;
                z-index: 0;
                @include respond(tab-port) {
                    position: relative;
                    top: 0;
                }
                img {
                    width: 100%;
                    object-fit: cover;
                }
            }
            &__top-right {
                grid-area: top-right;
                img {
                    margin-top: -250px;
                    @include respond(tab-port) {
                        margin-top: -50px;
                    }
                }
            }
            &__mid-left {
                grid-area: mid-left;
                img {
                    margin-top: -50px;
                }
                @include respond(tab-port) {
                    padding-right: 24px;
                    background: $bg;
                }
                position: relative;
                top: 0;
            }
            &__bottom-right {
                grid-area: bottom-right;
                img {
                    margin-top: -400px;
                    @include respond(tab-port) {
                        margin-top: -150px;
                    }
                }
            }
            &__mid-right {
                grid-area: mid-right;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                font-size: 160px;
                font-family: 'Pacifico';
                font-family: 'Bebas Neue', sans-serif;
                text-transform: uppercase;
                background: $bg;
                position: relative;
                z-index: 1;
                @include respond(tab-port) {
                    font-size: 80px;
                    justify-content: center;
                }
            }
            &__top-left {
                width: 100%;
                height: 100%;
                grid-area: top-left;
                display: flex;
                flex-direction: column;
                padding: 20px 20px;
                justify-content: flex-end;
                gap: 10px;
                font-size: 20px;
                @include respond(tab-port) {
                    font-size: 16px;
                    justify-content: center;
                    background: $bg;
                    position: relative;
                    z-index: 1;
                    padding: 20px 24px;
                }
                p {
                    width: 100%;
                    text-align: right;
                    @include respond(tab-port) {
                        text-align: center;
                    }
                }
            }
        }
    }
}