.about {
    height: 600vh;
    margin: 0 auto;
    @include respond(tab-port) {
        height: fit-content;
    }
    &__container {
        width: 100%;
        height: 100vh;
        position: sticky;
        top: 0;
        overflow: hidden;
        @include respond(tab-port) {
            position: relative;
            overflow: auto;
        }
        &__contents {
            height: 100%;
            position: absolute;
            top: 0;
            width: 600vw;
            will-change: transform;
            display: flex;
            @include respond(tab-port) {
                will-change: none;
                width: 100vw;
                position: relative;
                flex-direction: column;
            }
        }
        &__section {
            position: relative;
            height: 100%;
            display: flex;
            @include respond(tab-port) {
                flex-direction: column;
                height: auto;
            }
            &__img {
                width: 100vw;
                height: 100%;
                .img {
                    width: 100%;
                    height: 100%;
            
                    overflow: hidden;
                    display: grid;
                    grid-template-columns: auto auto auto;
                    @include respond(tab-port) {
                        grid-template-columns: 1fr;
                    }
                    &__container {
                        overflow: hidden;
                        width: 100%;
                        height: 100%;
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            transform: scale(2);
                        }
                    }
                }
            }
            &__info {
                width: 100vw;
                height: 100%;
                background: $bg;
                display: grid;
                grid-template-columns: 70% 30%;
                position: relative;
                @include respond(tab-port) {
                    grid-template-columns: 1fr;
                }
                &__lines {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    display: flex;
                    justify-content: space-between;
                    & > * {
                        height: 100%;
                        width: 2px;
                        background: rgba(0,0,0, .1);
                    }
                }

                &__content {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    padding: 10px;
                    position: relative;
                    height: 100%;
                    width: 100%;
                    @include respond(tab-port) {
                        height: 80vh;
                        padding: 0;
                    }
                    &__container {
                        width: fit-content;
                        margin-left: 25vw;
                        @include respond(tab-port) {
                            margin-left: 24px;
                        }
                        &__text {
                            padding-bottom: 24px;
                            font-style: italic;
                            h2 {
                                font-family: 'Pacifico';
                                font-size: 36px;
                            }
                            p {
                                color: rgba(0,0,0, .5);
                                font-size: 16px;
                                font-style: italic;
                                font-family: 'DM Sans', sans-serif;
                                font-weight: 200;
                            }
                        }
                        p {
                            font-size: 36px;
                        }
                    }
                    .underlay {
                        font-family: 'Pacifico';
                        position: absolute;
                        color: rgba(0,0,0, .2);
                        font-size: 200px;
                        font-style: italic;
                        height: 100%;
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-top: 280px;
                        left: -50px;
                        @include respond(tab-port) {
                            overflow: hidden;
                            left: 0;

                        }
                    }
                }
                &__tag {
                    position: absolute;
                    color: rgba(0,0,0, 2);
                    height: 100%;
                    right: -300px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    @include respond(tab-port) {
                        display: none;
                    }
                    p {
                        transform: rotate(90deg);
                        font-size: 160px;
                    }
                }
            }
        }
    }
}

.aboutme {
    background: $bg;
    &__container {
        width: 100%;
        height: 100%;

        // TODO: 4k mixin
        max-width: 1440px;
        margin: 0 auto;
        
.content {
	flex: none;
	display: grid;	
	place-items: center;
	line-height: 1.2;
	grid-template-areas: 'title' 'layout' '...';
	grid-template-rows: 3.5vw auto 3.5vw;
	gap: 1rem;
}
.content__img-wrap {
	grid-area: layout;
}

.content__img {
	--img-width: 60vw;
	--img-height: 40vh;
	--img-ar: auto;
	--img-inner-margin-x: 0px;
	--img-inner-margin-y: 0px;
	position: relative;
	overflow: hidden;
	display: grid;
	place-items: center;
	width: var(--img-width);
	height: var(--img-height);
	aspect-ratio: var(--img-ar);
}
.content__img--2 {
	--img-width: 100vw;
	--img-height: 100vh;
}
.content__img-inner {
	grid-area: 1 / -1;
	width: calc(100% + var(--img-inner-margin-x) * 2);
	height: calc(100% + var(--img-inner-margin-y) * 2);
	background-size: cover;
	background-position: 50% 50%;
}

.content__img-inner--hidden {
	opacity: 0;
}

.content__text {
	font-family: 'AlphaLyrae', sans-serif;
	position: relative;
	z-index: 100;
	grid-area: title;
	text-transform: uppercase;
	font-size: clamp(2rem, 6vw, 4rem);
	margin: 0;
	display: flex;
	flex-direction: column;
	font-weight: 400;
	line-height: 0.8;
	font-family: 'AlphaLyrae', sans-serif;
}

.content__text span span {
	display: inline-block;
}

.content__text span span.whitespace {
	white-space: pre;
}

.content__text span:nth-child(3n) {
	font-feature-settings: 'ss01' 1;
}
.content__text--left {
	justify-self: start;
	padding: 3rem;
	grid-area: layout;
	align-self: center;
}

.content__text-tiny {
	text-transform: none;
	font-family: 'Tenon', sans-serif;
	font-size: 1.5rem;
	font-weight: 300;
	max-width: 400px;
	line-height: 1.2;
	margin-top: 10vh;
}
    }
}