.about {
    height: 600vh;
    margin: 0 auto;
    @include respond(tab-port) {
        height: fit-content;
    }
    &__short {
        font-kerning: none;
        width: fit-content;
        height: fit-content;
    }
    &__container {
        width: 100%;
        height: 100vh;
        position: sticky;
        top: 0;
        overflow: hidden;
        @include respond(tab-port) {
            position: relative;
            overflow: unset;
            height: fit-content;
        }
        &__contents {
            height: 100%;
            position: absolute;
            top: 0;
            width: 600vw;
            will-change: transform;
            display: flex;
            @include respond(tab-port) {
                will-change: none;
                width: 100vw;
                position: relative;
                flex-direction: column;
            }
        }
        &__section {
            position: relative;
            height: 100%;
            display: flex;
            @include respond(tab-port) {
                flex-direction: column;
                height: auto;
            }
            &__img {
                width: 100vw;
                height: 100%;
                .img {
                    width: 100%;
                    height: 100%;
            
                    overflow: hidden;
                    display: grid;
                    grid-template-columns: auto auto auto;
                    position: relative;
                    @include respond(tab-port) {
                        grid-template-columns: 1fr;
                    }
                    &__container {
                        overflow: hidden;
                        width: 100%;
                        height: 100vh;
                        @include respond(tab-port) {
                            height: 80vh;
                        }
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            transform: scale(2);
                            @include respond(tab-port) {
                                transform: scale(1);
                            }
                        }
                    }
                }
            }
            &__info {
                width: 100vw;
                height: 100%;
                background: $bg;
                display: grid;
                grid-template-columns: 70% 30%;
                position: relative;
                @include respond(tab-port) {
                    grid-template-columns: 1fr;
                }
                &__lines {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    display: flex;
                    justify-content: space-between;
                    & > * {
                        height: 100%;
                        width: 2px;
                        background: rgba(0,0,0, .1);
                    }
                }

                &__content {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    padding: 10px;
                    position: relative;
                    height: 100%;
                    width: 100%;
                    @include respond(tab-port) {
                        height: 80vh;
                        padding: 0;
                    }
                    &__container {
                        width: fit-content;
                        margin-left: 25vw;
                        @include respond(tab-port) {
                            margin-left: 24px;
                            margin-right: 24px;
                            overflow: hidden;
                            br {
                                display: none;
                            }
                        }
                        &__text {
                            padding-bottom: 24px;
                            font-style: italic;
                            overflow: hidden;
                            h2 {
                                font-family: 'Pacifico';
                                font-size: 36px;
                                @include respond(tab-port) {
                                    font-size: 24px;
                                }
                            }
                            p {
                                color: rgba(0,0,0, .5);
                                font-size: 16px;
                                font-style: italic;
                                font-family: 'DM Sans', sans-serif;
                                font-weight: 200;
                                @include respond(tab-port) {
                                    font-size: 14px;
                                }
                            }
                        }
                        p {
                            font-size: 36px;
                            @include respond(tab-port) {
                                font-size: 24px;
                            }
                        }
                    }
                    .underlay {
                        font-family: 'Pacifico';
                        position: absolute;
                        color: rgba(0,0,0, .2);
                        font-size: 200px;
                        font-style: italic;
                        height: 100%;
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-top: 280px;
                        left: -50px;
                        @include respond(tab-port) {
                            overflow: hidden;
                            left: 0;

                        }
                    }
                }
                &__tag {
                    position: absolute;
                    color: rgba(0,0,0, 2);
                    height: 100%;
                    right: -300px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    @include respond(tab-port) {
                        display: none;
                    }
                    p {
                        transform: rotate(90deg);
                        font-size: 160px;
                    }
                }
            }
        }
    }
}
.aboutme {
	background-color: $bg;
    background-image: url('../../images/sobhan-joodi-Ts4d8AvN7K8-unsplash.jpg');
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: 50% 0%;
    @include respond(tab-port) {
        background-position: 30% 0%;
    }
}
.aboutme__container {
    color: $bg;
	font-family: 'DM Sans';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow: hidden;
    max-width: 1440px;
    margin: 0 auto;
    

}

// /* Page Loader */
// .js .loading::before,
// .js .loading::after {
// 	content: '';
// 	position: fixed;
// 	z-index: 1000;
// }

// .js .loading::before {
// 	top: 0;
// 	left: 0;
// 	width: 100%;
// 	height: 100%;
// 	background: var(--color-bg);
// }

// .js .loading::after {
// 	top: 50%;
// 	left: 50%;
// 	width: 60px;
// 	height: 60px;
// 	margin: -30px 0 0 -30px;
// 	border-radius: 50%;
// 	opacity: 0.4;
// 	background: var(--color-link);
// 	animation: loaderAnim 0.7s linear infinite alternate forwards;

// }

// @keyframes loaderAnim {
// 	to {
// 		opacity: 1;
// 		transform: scale3d(0.5,0.5,1);
// 	}
// }

.content {
	width: 100vw;
	position: relative;
	padding: var(--page-padding);
	padding-top: 50vh;
    @include respond(tab-port) {
        width: fit-content;
    }
}

.content--left {
    padding-left: 0;
}


.content__title {
	font-size: clamp(1.5rem,3.5vw,4rem);
	line-height: 1.2;
	max-width: 800px;
}

.w400 {
	font-weight: 400;
	max-width: 800px;
}

.w600 {
	font-weight: 600;
}

.content__title--smaller {
	font-size: clamp(1rem,2.75vw,3rem);
    @include respond(tab-port) {
        font-size: 16px;
    }
}

.content__text {
	max-width: 600px;
	margin: 0;
}
