@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,400;0,9..40,600;0,9..40,700;0,9..40,800;1,9..40,900&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@1,9..40,100;1,9..40,200;1,9..40,300&display=swap');
@import './styles/variables';
@import './Components/index';

* {
 padding: 0;
 margin: 0;
 box-sizing: border-box;
}
.container {
    padding: 0 120px;
    @include respond(tab-port) {
        padding: 0 24px;
    }
}
a {
    text-decoration: none;
    color: #000;
    text-transform: none;
}

body {
    background: $bg;
    font-family: 'DM Sans', sans-serif;
}

/* 
font-family: 'Bebas Neue', sans-serif;
font-family: 'DM Sans', sans-serif;
font-family: 'Pacifico', cursive;
 */